// 投票列表组件样式

.voteStats {
	display: flex;
	gap: 8px;
}

.voteTypeWrapper {
	display: flex;
	justify-content: center;
}

.userInfo {
	display: flex;
	align-items: center;
	gap: 8px;

	.userName {
		font-size: 12px;
		color: var(--color_text);
	}
}

.reasonText {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: var(--color_text);
	font-size: 12px;
}
